<Directory {{ vhost_root }}>
  Order Allow,Deny
  Allow from all

  AuthType Basic
  AuthName "Restricted Area"
  AuthBasicProvider file
  AuthUserFile {{ webserver_secret_dir }}/helloworld.htpasswd
  Require valid-user
</Directory>
